*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    padding: 50px;
    
}

.container{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    justify-content: center;
    font-weight:bold;
    border-style:groove;
}
.box{
    width: 100%;
    height: 25%;
    border-style: groove;
}
