
body{
    font-family: Arial, sans-serif;
    background:#f2f4f7;
    display:flex;
    justify-content:center;
    
}

.container{
    width:50%;
    background:white;
    padding:20px;
    border-radius:10px;
}
.container:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc;    
  }

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn{
    background:#1e73d8;
    color:white;
    border:none;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}
.btn:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc;  
    background-color: black;
}

.box1{
    background:#dbe7f3;
    border-radius:15px;
    padding:10px;
    display:flex;
    align-items:center;
    margin-top:10px;
    
}
.box1:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc;   
  }

.box1 img{
    width:100px;
    margin-right:15px;
}

.box2{
    margin-top:10px;
}

.box2-list{
    display:flex;
    justify-content:space-between;
}

.card{
    width:100px;
    padding:10px;
    border-radius:15px;
    color:white;
    text-align:center;
}
.card:hover {
  transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc; 
}

.green{
    background:#34b27b;
}
.pink{
    background:#e85a8c;
}
.purple{
    background:#7c6ee6;
}
.card img{
    width: 60px;
}

.box3{
    margin-top:10px;
}

.box3-box{
    background:#f1dede;
    border-radius:15px;
    padding:10px;
    display:flex;
    align-items:center;
}
.box3-box:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc; 
  }

.box3-box img{
    width: 100px;
    margin-right:10px;
  
}

.box3-btn{
    background:#1e73d8;
    color: white;
    border:none;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}
.box3-btn:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc;  
    background-color: black;
}
