*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    padding: 50px;
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
}
.header{
    width: 100%;
    height: 20%;
    background-color:rgb(186, 247, 3);
    margin-bottom: 5px;
}
.navigation{
    width: 100%;
    height: 18%;
    background-color: rgb(152, 173, 192);
    margin-bottom: 5px;
}
.mid{
    width: 100%;
    height: 40%;
    background-color: rgb(20, 245, 170);
    display: flex;
    padding: 5px;
    margin-bottom: 3px;
}
.mid-left{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 3, 175);
    margin-right: 3px;
}
.mid-right{
    width: 70%;
    height: 100%;
    background-color: rgb(2, 65, 255);
    padding: 5px;
}
.mid-right-top{
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
}
.mid-right-bottom{
    width: 100%;
    height: 50%;
    background-color:rgb(24, 95, 95);
    
}
.footer{
    width: 100%;
    height: 20%;
    color: white;
    background-color:brown;
    padding: 10px;
    margin-top: 5px;
}