*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    padding: 50px;
    
}

.container{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    justify-content: center;
    font-weight:bold;
    border-style:groove;
}
.box1{
    width: 100%;
    height: 25%;
    display: flex;
    padding: 5px;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 3px;
}
   
.box1-left{
    width: 60%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    margin-right: 3px;
}

.box1-right{
    width: 40%;
    height: 100%;
    background-color: rgb(206, 205, 205);
    padding: 5px;
}
.box2{
    width: 100%;
    height: 20%;
    background-color: rgb(164, 247, 220);
    display: flex;
    padding: 5px;
    border-style: groove;
    margin-bottom: 3px;
    border-radius: 20px;
}
.box2-left{
    width: 30%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    margin-right: 3px;
}

.box2-right{
    width: 70%;
    height: 100%;
    background-color: rgb(206, 205, 205);
    padding: 5px;
}
.box3{
    width: 100%;
    height: 25%;
    border-radius: 10px;
    border-style: groove;   
}
.box4{
    width: 100%;
    height: 20%;
    background-color: rgb(254, 218, 224);
    display: flex;
    padding: 5px;
    border-style: groove;
    margin-bottom: 3px;
    border-radius: 20px;
}
.box4-left{
    width: 30%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    margin-right: 3px;
}

.box4-right{
    width: 70%;
    height: 100%;
    background-color: rgb(206, 205, 205);
    padding: 5px;
}
