*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    padding: 50px;
    text-align: center;
}
/* .container{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
} */
.header{
    width: 100%;
    height: 20%;
    background-color:rgb(186, 247, 3);
    margin-bottom: 5px;
}
.mid{
    width: 100%;
    height: 40%;
    background-color: rgb(20, 245, 170);
    display: flex;
    padding: 5px;
    margin-bottom: 3px;
}

.footer{
    width: 100%;
    height: 20%;
    color: white;
    background-color:brown;
    padding: 10px;
    margin-top: 5px;
}