*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    padding: 50px;
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
    justify-content: center;
    font-weight:bold;
}

.header, .footer{
    width: 100%;
    height: 20%;
    background-color:rgb(45, 179, 67);
    display: flex;
    justify-content: center;
    font-style: italic;
}

.mid{
    width: 100%;
    height: 60%;
    background-color: rgb(148, 244, 164);
    display: flex;
    padding: 10px;
}

.mid-left{
    width: 30%;
    height: 100%;
    background-color: #a50773;
    text-align:center;
    padding:20px;
    font-style: italic;
    
}

.mid-right{
    background:#fa8f02;
    width:70%;
    height: 100%;
    padding:20px;
    text-align: center;
    
}

.images{
    display:flex;
    justify-content:space-between;
    margin-top: 40px;
}

.image-box{
    background:#f5d05b;
    width:30%;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-style: italic;
}
