*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 50px;
}
.container{
    width: 90%;
    height: 100%;
    background-color: red;
    padding: 10px;   
}
.top{
    width: 100%;
    height: 20%;
    background-color:rgb(186, 247, 3);
    padding: 10px ;
    display: flex;
}
.box{
    width: 34%;
    height: 100%;
    color: white;
    margin-right: 2px;
    background-color: rgb(70, 108, 13);

}

.bottom{
    width: 100%;
    height: 80%;
    background-color: rgb(9, 0, 15);
    display: flex;
    padding: 10px;
    margin-top: 5px;

}
.left{
    width: 50%;
    height: 100%;
    background-color: rgb(152, 173, 192);
    margin-right: 5px;

}
.box1{
    width: 50%;
    height: 50%;
    background-color: rgb(44, 3, 180);
    
}
.right{
    width: 50%;
    height: 100%;
    background-color: rgb(20, 245, 170);
    
}
.box2{
    width: 96%;
    height: 32%;
    background-color: rgb(95, 126, 48);
    margin-top: 4px;
    margin-bottom: 5px ;
     margin-left: 5px;
    margin-right:5px; 
}

