*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    padding: 50px;
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
}

.header, .footer{
    width: 100%;
    height: 20%;
    background-color:rgb(45, 179, 67);
}

.mid{
    width: 100%;
    height: 60%;
    background-color: rgb(148, 244, 164);
    display: flex;
    padding: 10px;
}

.mid-left{
    width: 30%;
    height: 100%;
    background-color: rgb(165, 7, 115);
}

.mid-right{
    width: 70%;
    height: 100%;
    background-color: rgb(2, 65, 255);
}

.mid-right-top{
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
}

.mid-right-bottom{
    width: 100%;
    height: 50%;
    background-color:rgb(24, 95, 95);  
}

