
body{
    padding:5px;
    margin: 0;
    box-sizing: border-box;
    display:flex;
    justify-content:center;  
}

.main-cont{
    width:30%;
    background:rgb(126, 235, 204);
    padding: 15px;
}
.topFish{
    width: 100%;
    height: 35vh;
    border-radius:10px;
}

.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn{
    background:#1e73d8;
    color:white;
    border:none;
    padding: 8px;
    border-radius:10px;
    cursor:pointer;
}   
.btn:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc;  
    background-color: black;
}

.box-list{
    display:flex;
    justify-content:space-between;
}

.card{
    width:100px;
    padding:10px;
    border-radius:15px;
    color:rgb(0, 2, 13);
    font-style: italic;
    background-color: rgb(89, 142, 188);
    text-align:center;
}
.card:hover {
  transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px black;
    border: 1px solid #cccccc; 
}

.card img{
    width: 100px;
}

