*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 50px;
    
}
.left{
    width: 90%;
    height: 100%;
    background-color: red;
    padding: 15px;   
}
.top{
    width: 100%;
    height: 60%;
    background-color:rgb(186, 247, 3);
    padding: 10px;
    display: flex;
    margin-bottom: 3px;
}
.top-left{
    width: 70%;
    height: 100%;
    background-color: rgb(46, 177, 177);
    margin-right: 3px;
}
.top-right{
    width: 30%;
    height: 100%;
    background-color: rgb(2, 182, 254);
    padding: 10px;
}
.top-right-top{
    width: 100%;
    height: 60%;
    background-color: rgb(21, 21, 219);
    margin-bottom: 2px;
}
.top-right-bottom{
    width: 100%;
    height: 40%;
    background-color: rgb(59, 59, 177);
}
.mid{
    width: 100%;
    height: 20%;
    background-color: rgb(150, 101, 10);
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
}
.mid-left{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 3, 175);
    margin-right: 3px;
}
.mid-right{
    width: 70%;
    height: 100%;
    background-color:rgb(249, 114, 206);
    margin-right: 2px;
}
.bottom{
    width: 100%;
    height: 20%;
    background-color: rgb(9, 0, 15);
    display: flex;
    padding: 10px;

}
.box{
    width: 34%;
    height: 100%;
    color: white;
    margin-right: 2px;
    background-color: rgb(70, 108, 13);

}

.right{
    width: 10%;
    height: 100%;
    background-color: rgb(192, 6, 6);

}
